.bookListTable {
    max-width: 800px !important;
}

.tableButton {
    width: 40px;
    height: 20px;
}

.title {
    width: 60%;
}

#collectionBookContainer {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.coverCard {
    max-width: 100px;
}

#cardHeader {
    display: flex;
    justify-content: space-between;
}

#bookListTableContainer {
    max-height: 350px !important;
}

.bookListRow td {
    font-size: 10pt;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}




