#loginBox {
    width: 300px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 270px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

#registerBox {
    width: 300px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
