#newUserBox {
    height: 36em;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

.form-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#editUserBox {
    height: 33em;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: none;
}

