.card-body {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

#newCollectionContainer {
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 20px;
}

#newCollectionForm {
    background-color: white;
    width: 400px;
}

.coverCard {
    max-width: 100px;
}